@model OrderModel
<form method="post" asp-controller="Cart" asp-action="Checkout" enctype="application/x-www-form-urlencoded">
<div class="row">
    <div class="col-md-8">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*order detail - start*@
            <h1 class="h4">Order Detail</h1> 
            <hr class="mb-3" />
            <div class="card p-2">
                <input type="hidden" name="cartId" value="0"/>
                <div class="row">
                    <div class="col-md-6 py-2">
                        <label asp-for="@Model.FirstName"></label>
                        <input asp-for="@Model.FirstName" class="form-control" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="@Model.LastName"></label>
                        <input asp-for="@Model.LastName" class="form-control" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 py-2">
                        <label asp-for="@Model.Address"></label>
                        <textarea asp-for="@Model.Address" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="@Model.Email"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 py-2">
                        <label asp-for="@Model.Phone"></label>
                        <input asp-for="@Model.Phone" class="form-control" />
                        <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 py-2">
                        <label asp-for="@Model.City"></label>
                        <input asp-for="@Model.City" class="form-control" />
                        <span asp-validation-for="@Model.City" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 py-2">
                        <label asp-for="@Model.Country"></label>
                        <input asp-for="@Model.Country" class="form-control" />
                        <span asp-validation-for="@Model.Country" class="text-danger"></span>
                    </div>
                    <div class="col-md-4 py-2">
                        <label asp-for="@Model.ZipCode"></label>
                        <input asp-for="@Model.ZipCode" class="form-control" />
                        <span asp-validation-for="@Model.ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>
            @*order detail - end*@
            
            @*card - start*@
            <h1 class="h4 mt-4">Card Information</h1>
            <hr class="mb-3"/>
            <div class="card mb-3 p-2">
                <div class="row g-0">
                    <div class="col-md-4">
                            <img src="~/img/creditcard.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8 mt-3">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label asp-for="@Model.CardName"></label>
                                <input asp-for="@Model.CardName" class="form-control" />
                                <span asp-validation-for="@Model.CardName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <label asp-for="@Model.CardNumber"></label>
                                <input asp-for="@Model.CardNumber" class="form-control" />
                                <span asp-validation-for="@Model.CardNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="@Model.ExpirationMonth"></label>
                                        <input asp-for="@Model.ExpirationMonth" class="form-control" />
                                        <span asp-validation-for="@Model.ExpirationMonth" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="@Model.ExpirationYear"></label>
                                        <input asp-for="@Model.ExpirationYear" class="form-control" />
                                        <span asp-validation-for="@Model.ExpirationYear" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="@Model.Cvc"></label>
                                        <input asp-for="@Model.Cvc" class="form-control" />
                                        <span asp-validation-for="@Model.Cvc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*card - end*@

            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
    </div>
    @*Summary - start*@
    <div class="col-md-4">
        <h1 class="h4">Summary</h1>
        <hr class="mb-3" />
        <div class="card">
            <ul class="list-group mb-3">

                @foreach (var item in Model.CartModel.CartItems)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h1 class="h6">@item.ProductName</h1>
                        </div>
                        <span class="text-muted">@item.Price.ToString() TL</span>
                        <span class="text-muted">@item.Quantity</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Price</span>
                    <strong>@Model.CartModel.TotalPrice().ToString() TL</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <input class="form-check-input" checked type="checkbox" id="flexCheckChecked">
                    <a class="btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">Terms and Conditions</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Terms and Conditions</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                </li>
            </ul>
        </div>
    </div>
    @*Summary - end*@
</div>
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}