@model OrderListModel

@if(Model.Orders != null)
{

    @if (Model.Orders.Count < 1)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    You have not ordered yet
                </div>
            </div>
        </div>
    }
    else
    {
        @foreach (var order in Model.Orders)
        {
            <div class="card mb-4">
                <div class="card-header  text-center">
                    <div class="row m-1">
                        <div class="col-md-2">
                            <p><strong>Order Number</strong><br> #@order.OrderNumber</p>
                        </div>
                        <div class="col-md-3">
                            <p><strong>Order Date</strong><br> @order.OrderDate.ToShortDateString() - @order.OrderDate.ToShortTimeString()</p>
                        </div>
                        <div class="col-md-3">
                            <p><strong>Buyer</strong><br> @order.FirstName @order.LastName</p>
                        </div>
                        <div class="col-md-2">
                            <p><strong>Total Price</strong><br> @order.TotalPrice().ToString() TL</p>
                        </div>
                        <div class="col-md-2">
                            <p><strong>Order State</strong><br> @order.OrderState.ToString().ToUpper()</p>
                        </div>
                    </div>
                </div>
                <div class="card-body m-1">
                    @if (order.OrderItems != null)
                    {
                        @foreach (var orderItem in order.OrderItems)
                        {
                            <div class="card mb-3" style="height: 150px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img style="height: 80px;" src="~/img/@orderItem.ProductImage" class="img-fluid rounded-start m-4" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <p class="card-text"><strong>Name</strong> <br>@orderItem.Name</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="card-text"><strong>Price</strong> <br>@orderItem.Price</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="card-text"><strong>Quantity</strong> <br>@orderItem.Quantity</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
}