@model ProductDetailModel
@*links - start*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
        <li class="breadcrumb-item">
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-danger" asp-controller="Shop" asp-action="CategoryList" asp-route-category="@Model.Product.Category.Url">@Model.Product.Category.Name</a>
        </li>  
        <li class="breadcrumb-item">
            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-danger" asp-controller="Shop" asp-action="Category2List" asp-route-category2="@Model.Product.Category2.Url">@Model.Product.Category2.Name</a>
        </li>
    </ol>
</nav>
@*links - end*@
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-6">
            @*carousel - start*@
            <div id="product-carousel" class="carousel-dark carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                @foreach (var item in Model.Product.ImageUrls)
                {
                    <div class="carousel-item active">
                        <img src="~/img/@item.Url" class="card-img-top w-100 m-4" alt="@item.Url" style="height: 500px;">
                    </div>
                }
                </div>  
                <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            @*carousel - end*@
            @*product images - start*@
            <div class="card-body">
                <div class="row mt-4">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card border-0">
                                    <img src="~/img/@Model.Product.ProductImage" class="card-img-top w-100" alt="@Model.Product.ProductImage" style="height: 50px; width: 5px;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-0">
                                    <img src="~/img/@Model.Product.ProductImage" class="card-img-top w-100" alt="@Model.Product.ProductImage" style="height: 50px;width: 5px;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-0">
                                    <img src="~/img/@Model.Product.ProductImage" class="card-img-top w-100" alt="@Model.Product.ProductImage" style="height: 50px;width: 5px;">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="card border-0">
                                    <img src="~/img/@Model.Product.ProductImage" class="card-img-top w-100" alt="@Model.Product.ProductImage" style="height: 50px;width: 5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            @*product images - end*@
        </div>
        <div class="col-md-6 bg-light">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        @*product details - start*@
                        <div class="col-md-12 m-4">
                            <h1 class="h2 card-title">@Model.Product.Name</h1>
                            <a asp-controller="Shop" asp-action="BrandList" asp-route-brand="@Model.Product.Brand.Url" class="h4 nav-link text-danger"><strong>@Model.Product.Brand.Name</strong></a>
                            <div class="row">
                                <div class="col">
                                    <a href="#" class="h4 nav-link">
                                        <strong>
                                            @for (int i = 0; i < Math.Floor(Model.Product.ProductRate); i++)
                                            {
                                                <i class="fa-solid fa-star text-warning"></i>
                                            }
                                            @for (int i = 0; i < 5 - Model.Product.ProductRate; i++)
                                            {
                                                <i class="fa-regular fa-star text-warning"></i>
                                            }
                                            @Model.Product.ProductRate
                                        </strong> 
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="h4 nav-link"><strong>@Model.Product.CommentCount Comment</strong></a>
                                </div>
                                <h1 class="card-title text-danger mt-2">@Model.Product.Price TL</h1>
                            </div>
                        </div>
                        @*product details - end*@
                        @*add to cart and fav button - start*@
                        <div class="col-md-12 m-4">
                            @if (Model.Product.Quantity > 0)
                            {
                                <div class="row">
                                    <div class="col-md-9 m-1">
                                        <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                                            <input type="hidden" name="productId" value="@Model.Product.ProductId">
                                            <div class="input-group mb-3">
                                                <input type="number" name="quantity" value="1" min="1" step="1" max="@Model.Product.Quantity" class="form-control">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-danger">
                                                        <i class="fas fa-cart-plus"></i>Add To Cart
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-2 m-1">
                                        <form asp-controller="#" asp-action="#" method="post" class="form-inline">
                                            <input type="hidden" name="productId" value="@Model.Product.ProductId">
                                            <div class="input-group-append">
                                                <button style="border-radius: 100%;" type="submit" class="btn btn-outline-danger">
                                                    <i class="fa-solid fa-heart"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-9 m-1">
                                        <form asp-controller="#" asp-action="#" method="post">
                                            <input type="hidden" name="productId" value="@Model.Product.ProductId">
                                            <button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-envelope"></i> Gelince Haber Ver</button>
                                        </form>
                                    </div>
                                    <div class="col-md-2 m-1">
                                        <form asp-controller="#" asp-action="#" method="post">
                                            <input type="hidden" name="productId" value="@Model.Product.ProductId">
                                            <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-heart"></i></button>
                                        </form>
                                    </div>
                                </div>
                            }
                        </div>
                        @*add to cart and fav button - end*@
                    </div>
                </div>
               @*seller - start*@
                <div class="col-md-6 float-end">
                    <div class="row float-end m-4">
                        <a asp-controller="Shop" asp-action="StoreList" asp-route-store="@Model.Product.Store.StoreUrl" class="h4 nav-link text-danger"><strong>@Model.Product.Store.StoreName</strong></a>
                        <a href="#" class="h4 nav-link">
                            <strong>
                                @for (int i = 0; i < Math.Floor(Model.Product.Store.StoreRate); i++)
                                {
                                    <i class="fa-solid fa-star text-warning"></i>
                                }
                                @for (int i = 0; i < 5 - Model.Product.Store.StoreRate; i++)
                                {
                                    <i class="fa-regular fa-star text-warning"></i>
                                }
                                @Model.Product.Store.StoreRate
                            </strong> 
                        </a>
                    </div>
                </div>
               @*seller - end*@
            </div>
        </div>
    </div>
</div>
@*description - start*@
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card mt-4">
            <h1 class="h-4 mt-4 card-title text-center">Product Description</h1>
            <hr class="m-4"/>
            <div class="card-body">
                <p class="card-text text-black p-3">@Model.Product.Description</p>
            </div>
        </div>
    </div>
</div>
@*description - end*@
@*comment - start*@
<partial name="_comment" model="Model">
@*comment - end*@

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
