@model ManageModel
<div class="row container-fluid">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Manage Account</h5>
        </div>
    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-6">
        <div class="row">
            @*user information*@
            <div>
                <div class="card mt-4 mb-4 text-center">
                    <div class="card-body">
                        <h5 class="card-title mb-4">User Information</h5>
                        <hr class="mb-3" />
                        <form asp-controller="user" asp-action="updateuser" enctype="application/x-www-form-urlencoded" method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <input type="hidden" asp-for="UserDetailsModel.UserId" />
                            <input type="hidden" asp-for="UserDetailsModel.EmailConfirmed" />
                            <div class="form-group row mt-2">
                                <label asp-for="UserDetailsModel.FirstName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserDetailsModel.FirstName" />
                                    <span asp-validation-for="UserDetailsModel.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserDetailsModel.LastName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserDetailsModel.LastName" />
                                    <span asp-validation-for="UserDetailsModel.LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mt-2">
                                <label asp-for="UserDetailsModel.PhoneNumber" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserDetailsModel.PhoneNumber" />
                                    <span asp-validation-for="UserDetailsModel.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserDetailsModel.Email" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserDetailsModel.Email" />
                                    <span asp-validation-for="UserDetailsModel.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="d-grid gap-2 m-4">
                                    <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*update password*@
            <div>
                <div class="card  mb-4 text-center">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Update Password</h5>
                        <hr class="mb-3" />
                        <form asp-controller="Account" asp-action="ResetPassword" enctype="application/x-www-form-urlencoded" method="post">
                            <div asp-validation-summary="ModelOnly" style="color: red;"></div>
                            <input type="hidden" asp-for="@Model.ResetPasswordModel.Token" />
                            <input type="hidden" class="form-control" asp-for="@Model.ResetPasswordModel.Email" />
                            <div class="form-group row mt-2">
                                <label asp-for="@Model.ResetPasswordModel.Password" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="@Model.ResetPasswordModel.Password" />
                                    <span asp-validation-for="@Model.ResetPasswordModel.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="@Model.ResetPasswordModel.RePassword" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="@Model.ResetPasswordModel.RePassword" />
                                    <span asp-validation-for="@Model.ResetPasswordModel.RePassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-grid gap-2 m-4">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            @*address*@
            <div>
                <div class="card mt-4 mb-4 text-center">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Address</h5>
                        <hr class="mb-3" />
                        @*address list*@
                        @foreach (var item in Model.UserAddressModels)
                        {
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @item.AddressName               
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        @item.Address 
                                        @item.Country/@item.City @item.ZipCode
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                
                        @*create address*@
                        <form asp-controller="user" asp-action="createaddress" enctype="application/x-www-form-urlencoded" method="post" class="mt-4">
                            <div asp-validation-summary="ModelOnly" style="color: red;"></div>
                            <input type="hidden" asp-for="UserAddressModel.UserId"/>
                            <div class="form-group row mt-2">
                                <label asp-for="UserAddressModel.AddressName" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserAddressModel.AddressName" />
                                    <span asp-validation-for="UserAddressModel.AddressName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserAddressModel.Address" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserAddressModel.Address" />
                                    <span asp-validation-for="UserAddressModel.Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserAddressModel.City" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserAddressModel.City" />
                                    <span asp-validation-for="UserAddressModel.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserAddressModel.Country" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserAddressModel.Country" />
                                    <span asp-validation-for="UserAddressModel.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mt-2">
                                <label asp-for="UserAddressModel.ZipCode" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="UserAddressModel.ZipCode" />
                                    <span asp-validation-for="UserAddressModel.ZipCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="d-grid gap-2 m-4">
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}